* {
  margin: 0;
  padding: 0;
}

.back-to-order-container {
  display: flex;
  justify-content: flex-end;
}

.back-to-order {
  background-color: var(--darkblue);
  color: var(--white);
  padding: 2px 5px 2px 3px;
  /* margin: 10px 0px; */
  font-size: 1rem;
  cursor: pointer;
  font-family: "Saira Condensed", sans-serif;
  text-transform: capitalize;
}

.products {
  size: 2rem;
}

#total {
  background-color: var(--blue);
  width: 40px;
  display: flex;
  justify-content: center;
  color: white;
  height: 20px;
  margin: auto auto;
}
