/*----------------- MAIN SECTION ---------------- */

main .site-title {
  background-image: url(./images/home-background-reduced.jpg);
  background-size: cover;
  height: 620px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  background-position: center;
}

main .site-title .site-background {
  padding-top: 8rem;
  text-align: center;
  color: var(--white);
  background-color: var(--grey);
  opacity: 0.8;
}

main .site-title .site-background h3 {
  font-size: 1rem;
  font-family: "Viaoda Libre", cursive;
  color: var(--blue);
  padding: 0.8rem;
}

main .site-title .site-background h1 {
  font-size: 3.125rem;
  font-family: "Viaoda Libre", cursive;
  padding-bottom: 0.3rem;
}

main .site-title .btn {
  border: none;
  border-radius: 2rem;
  border: 2px solid var(--white);
  margin-top: 20px;
  padding: 0.2rem 0.8rem;
  font-size: 0.8rem;
  font-family: "Viaoda Libre", cursive;
  color: var(--white);
  background-color: var(--darkblue);
  cursor: pointer;
  text-transform: uppercase;
}

main .site-title .btn:hover {
  border: 2px solid var(--darkblue);
  background-color: var(--white);
  color: var(--darkblue);
  text-transform: uppercase;
}

/* .add-favourites ion-icon {
  vertical-align: middle;
} */

/* Medium Screens */
@media screen and (max-width: 630px) {
  main .site-title {
    height: 400px;
  }
  main .site-title .site-background h1 {
    font-size: 1.5rem;
  }
  main .site-title .site-background h3 {
    font-size: 0.7rem;
  }
  .single-menu:nth-child(2) {
    border-bottom: 0;
  }
}

/* Small Screens*/

@media screen and (max-width: 410px) {
  main .site-title {
    height: 350px;
    margin-bottom: 0;
  }
  main .site-title .site-background h1 {
    font-size: 0.9rem;
  }
  main .site-title .site-background h3 {
    font-size: 0.6rem;
  }
  main .site-title .btn {
    font-size: 0.4rem;
  }
}
