@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400&display=swap");

/*General CSS*/
* {
  margin: 0;
  padding: 0;
}

:root {
  --blue: rgb(95, 158, 160);
  --white: #fff;
  --grey: rgb(27, 25, 25);
  --darkblue: rgb(26, 77, 77);
}

/*Remove bullet point*/
ul {
  list-style-type: none;
}

/*All links*/
a {
  text-decoration: none;
  color: var(--grey);
}

/*-------------------NAV BAR------------------*/

.nav {
  background-color: var(--white);
  padding: 0 2rem;
  height: 0px;
  min-height: 4.5rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

/*Delicioso logo*/
.nav .nav-logo a {
  font-size: 3rem;
  padding: 1rem 0;
  display: block;
  font-family: "Big Shoulders Stencil Display", cursive;
  color: var(--blue);
}

.nav .nav-menu {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

/* Home - Menu -Order - Contact us */
.nav .nav-items a {
  padding: 1.6rem 1rem;
  font-size: 1.2rem;
  position: relative;
  font-family: "Saira Condensed", sans-serif;
}

.nav .nav-items a:hover {
  background-color: var(--blue);
  color: var(--white);
}

.nav .current {
  background-color: var(--blue);
  color: var(--white);
}

/* Media Queries NAV BAR */

/* Medium Screens */

@media screen and (max-width: 630px) {
  .nav {
    padding-left: 1rem;
    padding-right: 0;
  }
  .nav .nav-logo a {
    font-size: 2.5rem;
  }
  .nav .nav-items a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    padding-left: 2rem;
  }
  .nav .nav-logo a {
    font-size: 2.2rem;
  }
  .nav .nav-items a {
    font-size: 0.8rem;
  }
}

/* Small Screens */

@media screen and (max-width: 410px) {
  .nav {
    padding-left: 1rem;
    padding-right: 0;
    min-height: 3rem;
    margin-bottom: 0.3rem;
  }
  .nav .nav-logo a {
    font-size: 1.8rem;
  }
  .nav .nav-items a {
    font-size: 0.7rem;
  }
}

/* Big Screens */
@media screen and (min-width: 1200px) {
  .nav {
    min-height: 6rem;
    margin-bottom: 1rem;
  }
  .nav .nav-logo a {
    font-size: 3.8rem;
  }
  .nav .nav-items a {
    font-size: 1.5rem;
  }
}

/*---------x----------NAV BAR---------x---------*/

/*--------------------- FOOTER --------------------- */

.footer-area {
  margin-top: 100px;
  padding: 100px 0;
  background-color: var(--blue);
}

.footer-area .container {
  width: fit-content;
  margin: 0 auto;
}

.footer-area .container .footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-area .container .footer .single-footer {
  width: 260px;
}

.footer-area .container .footer .single-footer:first-child {
  width: 280px;
  margin-right: 50px;
}

.footer-area .container .footer .single-footer:nth-child(2) {
  width: 280px;
}

.footer-area .container .footer .single-footer:nth-child(3) {
  width: 280px;
}

.footer-area .container .footer .single-footer:nth-child(4) {
  width: 280px;
}

/*About us-Quick links-Contact us-Subscribe to the newsletter*/
.footer-area .container .footer .single-footer h2 {
  margin-bottom: 20px;
  text-transform: capitalize;
  color: var(--white);
  font-size: 1.5rem;
  font-family: "Big Shoulders Stencil Display", cursive;
}

.footer-area .container .footer .single-footer p {
  font-family: "Saira Condensed", sans-serif;
  color: var(--grey);
}

.footer-area .container .footer .single-footer ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.2rem;
}

.footer-area .container .footer .single-footer ul li a {
  color: var(--darkblue);
  font-weight: bold;
  /* text-decoration: rgb(95, 158, 160); */
}

.footer-area .container .footer .single-footer ul li a:hover {
  color: var(--white);
}

.footer-area .container .footer .single-footer ul li a i {
  position: absolute;
  left: 0;
  top: 5px;
}

.footer-area .container .footer .copy p {
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 50px;
  font-family: "Saira Condensed", sans-serif;
  color: var(--grey);
}

.footer-area .container .footer .single-footer #newsletter #top-subscribe-form {
  font-family: "Saira Condensed", sans-serif;
  color: var(--grey);
}

input {
  width: 260px;
}

/* .footer-area
  .container
  .footer
  .single-footer
  #newsletter
  #top-subscribe-form
  .input-boxes {
  flex-direction: column;
} */

.footer-area
  .container
  .footer
  .single-footer
  #newsletter
  #top-subscribe-form
  .btn {
  border: none;
  border-radius: 2rem;
  border: 2px solid var(--white);
  margin-top: 20px;
  padding: 0.2rem 0.8rem;
  font-size: 0.8rem;
  font-family: "Viaoda Libre", cursive;
  color: var(--white);
  background-color: var(--darkblue);
  cursor: pointer;
  text-transform: uppercase;
}

.footer-area
  .container
  .footer
  .single-footer
  #newsletter
  #top-subscribe-form
  .btn:hover {
  border: 2px solid var(--darkblue);
  background-color: var(--white);
  color: var(--darkblue);
  text-transform: uppercase;
}

#scrollToTopBtn {
  background-color: var(--darkblue);
  border: 2px solid var(--white);
  /* border-radius: 50%; */
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  line-height: 40px;
  width: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.6;
}

/* Media Queries NAV BAR */

/* Small Screens */

@media screen and (max-width: 590px) {
  .footer-area {
    margin-top: 0;
    padding: 30px;
  }
  .footer-area .container .footer .single-footer h2 {
    font-size: 1.3rem;
  }
  .footer-area .container .footer .single-footer p {
    font-size: 1rem;
  }
  .footer-area .container .footer .single-footer:first-child {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .footer-area .container .footer .single-footer:nth-child(2) {
    margin-bottom: 30px;
  }
  .footer-area .container .footer .single-footer ul li a {
    font-size: 1.1rem;
  }
  .footer-area .container .footer .single-footer:nth-child(3) {
    margin-bottom: 30px;
    width: 260px;
  }
  .footer-area .container .footer .single-footer:nth-child(4) {
    margin-bottom: 30px;
  }

  .footer-area
    .container
    .footer
    .single-footer
    #newsletter
    #top-subscribe-form
    .btn {
    font-size: 0.7rem;
  }
  .footer-area .container .footer .copy p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 470px) {
  .footer-area {
    margin-top: 0;
    padding: 30px;
  }
  .footer-area .container .footer .single-footer h2 {
    font-size: 1.3rem;
  }
  .footer-area .container .footer .single-footer p {
    font-size: 1rem;
  }
  .footer-area .container .footer .single-footer:first-child {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .footer-area .container .footer .single-footer:nth-child(2) {
    margin-bottom: 30px;
  }
  .footer-area .container .footer .single-footer ul li a {
    font-size: 1.1rem;
  }
  .footer-area .container .footer .single-footer:nth-child(3) {
    margin-bottom: 30px;
    width: 260px;
  }
  .footer-area .container .footer .single-footer:nth-child(4) {
    margin-bottom: 30px;
  }

  .footer-area
    .container
    .footer
    .single-footer
    #newsletter
    #top-subscribe-form
    .btn {
    font-size: 0.7rem;
  }
  .footer-area .container .footer .copy p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 410px) {
  .footer-area {
    margin-top: 0;
    padding: 20px;
  }
  .footer-area .container .footer .single-footer h2 {
    font-size: 1rem;
  }
  .footer-area .container .footer .single-footer p {
    font-size: 0.8rem;
  }
  .footer-area .container .footer .single-footer:first-child {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .footer-area .container .footer .single-footer:nth-child(2) {
    margin-bottom: 20px;
  }
  .footer-area .container .footer .single-footer ul li a {
    font-size: 0.9rem;
  }
  .footer-area .container .footer .single-footer:nth-child(3) {
    margin-bottom: 20px;
    width: 260px;
  }
  .footer-area
    .container
    .footer
    .single-footer
    #newsletter
    #top-subscribe-form
    .btn {
    font-size: 0.5rem;
  }
  .footer-area .container .footer .copy p {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 815px) and (max-width: 1200px) {
  .footer-area .container .footer .single-footer:first-child {
    width: fit-content;
  }
  .footer-area .container .footer .single-footer:nth-child(2) {
    width: 140px;
  }
  .footer-area .container .footer .single-footer:nth-child(3) {
    width: 140px;
  }
  .footer-area .container .footer .single-footer:nth-child(3) {
    width: 140px;
  }
}

@media screen and (min-width: 710px) and (max-width: 814px) {
  .footer-area {
    margin-top: 0;
    padding: 30px;
  }
  .footer-area .container .footer {
    justify-content: space-between;
  }
  .footer-area .container .footer .single-footer h2 {
    font-size: 1.3rem;
  }
  .footer-area .container .footer .single-footer p {
    font-size: 1rem;
  }
  .footer-area .container .footer .single-footer:first-child {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .footer-area .container .footer .single-footer:nth-child(2) {
    margin-bottom: 30px;
  }
  .footer-area .container .footer .single-footer ul li a {
    font-size: 1.1rem;
  }
  .footer-area .container .footer .single-footer:nth-child(3) {
    margin-bottom: 30px;
    width: 350px;
  }
  .footer-area .container .footer .single-footer:nth-child(4) {
    margin-bottom: 30px;
  }

  .footer-area
    .container
    .footer
    .single-footer
    #newsletter
    #top-subscribe-form
    .btn {
    font-size: 0.7rem;
  }
  .footer-area .container .footer .copy p {
    font-size: 1rem;
  }
}

/*-----------x---------- FOOTER -----------x---------- */
